<h2><%= @cocktail.name %></h2>
<p><% @cocktail.doses.each do |dose|%></p>
<p><% dose.ingredient %></p>
<% end %>
<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>

